body
  display: flex
  justify-content: center
  align-items: center
  background: #c5e4e7
  font-family: 'Space Mono', sans-serif
  font-size: 24px
  text-align: center
  min-height: 100vh
  margin: 0

  *
    box-sizing: border-box

.input-group
  .group-wrapper
    display: flex
    flex-direction: column
    text-align: left
    margin-bottom: 1em

    .group-title
      font-size: .6em
      font-weight: 700
      color: #5e7a7d
      margin-bottom: 5px

    .input-wrapper
      position: relative

      &:before
        content: ''
        position: absolute
        left: 10px
        top: 5px
        bottom: 5px
        width: 1em
        z-index: 1

      &.icon-dollar:before
        background: url('./images/icon-dollar.svg') center no-repeat

      &.icon-person:before
        background: url('./images/icon-person.svg') center no-repeat

      input
        position: relative
        background: #f4fafa
        border: 2px transparent solid
        border-radius: 5px
        font-family: inherit
        font-size: 1em
        font-weight: 700
        text-align: right
        padding: 5px 15px
        color: #00494d
        outline: none
        transition: border .1s ease-in-out

        &:focus
          border: 2px #26c0ab solid

.radio-group
  text-align: left

  .group-title
    font-size: .6em
    font-weight: 700
    color: #5e7a7d
    margin-bottom: 5px

  .group-wrapper
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 10px
    margin-bottom: 1em

.radio-wrapper
  input
    display: none

    &:checked + label
      background: #26c2ad
      color: #00494d

  label
    display: block
    background: #00494d
    border-radius: 5px
    font-size: 1em
    font-weight: 700
    color: #f4fafa
    text-align: center
    padding: 5px 15px
    cursor: pointer
    transition: all .1s ease-in-out

    &:hover
      background: #9fe8df
      color: #00494d

.calculator
  display: flex
  justify-content: space-between
  background: #fff
  width: 800px
  height: 400px
  border-radius: 30px
  margin-top: 1em
  padding: 1em

  .wrapper-input
    width: 100%
    margin-right: 15px

  .wrapper-output
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #00494d
    border-radius: 15px
    width: 100%
    margin-left: 15px
    padding: 30px

    .output-group
      display: flex
      justify-content: space-between
      align-items: center
      text-align: left
      margin-bottom: 1em

      .title, .subtitle
        display: block
        font-size: .6em
        font-weight: 700

      .title
        color: #f4fafa

      .subtitle
        color: #7f9c9f

      .amount
        font-size: 1.8em
        font-weight: 700
        color: #26c0ab

    .btn-reset
      background: #26c0ab
      border: none
      border-radius: 5px
      font-family: inherit
      font-size: 1em
      font-weight: 700
      text-transform: uppercase
      color: #00494d
      width: 100%
      cursor: pointer
      transition: all .1s ease-in-out

      &:hover
        background: #9fe8df
